---
---
@import 'colors';
@import 'base';

$site-header-height: 50px;
$site-footer-height: 50px;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#site-header {
    background: $color-orange-pumpkin;

    a {
        color: $color-white;
        line-height: $site-header-height;
    }
}

#site-content {
    flex: 1;
    margin: 50px 0;

    h2, h3, h4, h5 {
        font-weight: 700;
        margin: 1rem 0;
    }

    p {
        margin: 1rem 0;
    }

    li {
        margin-left: 1rem;
    }
}

#site-footer {
    color: $color-gray;
    height: $site-footer-height;
    line-height: $site-footer-height;
    text-align: center;
}
