<!DOCTYPE html>
<html>
  <head>
    {% include base_head.html %}

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/page.css" rel="stylesheet" media="screen">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header id="site-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-3 col-md-3 col-lg-3">
            <ul class="nav">
              <li><a href="/" title="Golem – Telepresence for Galileo">&larr; Golem</a></li>
            </ul>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <ul class="nav nav-right">
              <li><a href="http://tooploox.com" title="Tooploox – development studio">Tooploox</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section id="site-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 col-md-6 col-lg-6">
          {{ content }}
          </div>
        </div>
      </div>
    </section>
    <footer id="site-footer">
      Copyright 2014 <a href="tooploox.com" title="Tooploox – mobile and web apps">Tooploox</a>
    </footer>
  </body>
</html>
